---
import BlogLayout from "../../layouts/BlogLayout.astro";
import BreadCrumbs from "../../components/BreadCrumbs.astro";
import "../../static/css/index.css";

export const prerender = false;
import { getEntry } from "astro:content";
import page_404 from "../404.astro";

const {slug} = Astro.params;

let headings, Content;

const entry = await getEntry('blog', `${slug}`);
if (entry) {
    const post = await entry.render();
    headings = post.headings;
    Content = post.Content;
} else {
    headings = [{text: 'Page not found'}]
    Content = page_404
    return Astro.redirect("/404")
}
---
<BlogLayout title={headings[0].text}>
    <main class="w-[70%] md:w-[90%] mx-auto mt-16">
        <!-- <BreadCrumbs text={headings[0].text} /> -->
        <article>
            <Content />
        </article>
    </main>
</BlogLayout>