---
import BlogLayout from "../../layouts/BlogLayout.astro";

export const prerender = false;
import { getEntry } from "astro:content";
import page_404 from "../404.astro";

const {slug} = Astro.params;

let headings, Content;

const entry = await getEntry('blog', `${slug}`);
if (entry) {
    const post = await entry.render();
    headings = post.headings;
    Content = post.Content;
} else {
    headings = [{text: 'Page not found'}]
    Content = page_404
    return Astro.redirect("/404")
}
---
<BlogLayout title={headings[0].text}>
    <main class="w-[70%] md:w-[90%] mx-auto">
        <article>
            <Content />
        </article>
    </main>
</BlogLayout>
<style is:inline>
    * {
    font-family: sans-serif;
    }
    @font-face {
        font-family: 'Roboto-medium';
        src: url(/fonts/Roboto/Roboto-Medium.ttf);
        font-display: swap;
    }
    /* Date post */
    #date { 
        display: block;
        text-align: center;
        font-size: 1rem;
        color: rgb(82 82 91);
    }
    html[class="dark"] #date {
        color: rgb(228 228 231);
    }
    /* Title post */
    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 2rem 0 2rem 0;
        text-align: center;
        color: rgb(48, 57, 70);
        font-family: 'Roboto-medium';
    }
    html[class='dark'] main * {
        color: rgb(212 212 216);
    }
    /* Subtitle post */
    h2 {
        font-size: 1.5rem;
    }
    /* Parrafos */
    p {
        font-size: 1rem;
        line-height: 2rem;
        margin: 1rem 0 2rem 0;
        color: rgb(48, 57, 70);
    }
    /* Listas */
    main article li {
        list-style:disc;
        margin-left: 3rem;
        line-height: 2rem;
    }
    /* Block Code */
    p code {
        padding: 3px 3px;
        color: rgb(67, 111, 255);
        background-color: rgba(243, 243, 243, 0.772);
        border-radius: 5px;
        border: 1px solid #eaeaea;
    }
    html[class="dark"] p code {
        color: rgb(67, 111, 255);
        background-color: rgba(103, 103, 103, 0.256);
        border: none;
    }
    .astro-code {
        padding: 2rem;
        border-radius: 15px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    main article img {
        height: 24rem;
        width: 100%;
        margin: auto;
        object-fit: cover;
        object-position: center;
        margin-bottom: 1.25rem;
        border-radius: .5rem;
    }
    @media (max-width: 880px) {
        h1 {
            font-size: 2rem;
        }
    }
</style>