---
import Layout from '../layouts/Layout.astro';
import LatestPost from '../components/LatestPost.astro';
---

<Layout title="Afterflow - Inicio.">
    <main class="px-20">
        <LatestPost />
    </main> 
</Layout>