---
import Layout from '../layouts/Layout.astro';
import LatestPost from '../components/LatestPost.astro';
import RecentArticles from '../components/RecentArticles.astro';
import { urlAPI } from '../static/ts/vars';
const request = await fetch(urlAPI + `/posts/`);
const posts = await request.json();

let filter = 'como'
let files = await Astro.glob('../content/blog/*');

let data = files.map(file => {
    return file.frontmatter.title.toLowerCase();
})

function removeDiacritics(str:string) {
    return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
}

let results = data.filter(title => removeDiacritics(title).includes('que'))
console.log(results);
---

<Layout title="Afterflow - Inicio.">
    <main class="md:px-20 sm:px-7 xr:px-5 px-[5.5rem]">
        <LatestPost />
        <div class="h-[1px] w-full bg-zinc-100 dark:bg-zinc-700 mt-20"></div>
        {
            posts.length > 0 ? <RecentArticles posts={posts} /> : ''
        }
    </main> 
</Layout>