---
import Layout from '../layouts/Layout.astro';
import LatestPost from '../components/LatestPost.astro';
---

<Layout title="Afterflow - Inicio.">
    <main class="md:px-20 bsm:px-10 xr:px-5 px-[6rem]">
        <LatestPost />
    </main> 
</Layout>