---
import SearchInput from "../components/jsx/SearchInput";
import Chevron from "../components/icons/Chevron-down.astro";
import User from "../components/icons/User-cog.astro";
import BtnChangeTheme from "../components/jsx/ButtonChangeTheme";

import {urlAPI} from "../static/ts/vars";
import "../static/css/index.css";

const request = await fetch(urlAPI + "/categories/");
const categories = await request.json();

---
<header class="sticky top-0 z-50">
    <nav class="flex items-center px-4 py-3 bg-white dark:bg-[#141414] justify-between">
        <div class="flex items-center space-x-8">
            <a href="/" title="Inicio" class="inline-block">
                <img src="/logo/afterflow.png" width="60" height="60" alt="Logo de Afterflow">
            </a>
            <ul class="flex items-center space-x-5 text-zinc-600 text-sm font-medium dark:text-zinc-200">
                <li><a href="/" title="Inicio">Inicio</a></li>
                <li class="dropdown">
                    <button tabindex="0" title="Categorías" class="cursor-pointer flex items-center">Categorías
                        <Chevron />
                    </button>
                    <ul tabindex="0" class="dropdown-content menu p-2 shadow rounded-box w-52 mt-2 dark:bg-[#161616] dark:text-zinc-200">
                        {
                            categories.map((category:any) => {
                                return (
                                    <li>
                                        <a href={"/categoria/" + category.slug} title={category.name} class="dark:hover:bg-zinc-800 dark:hover:text-zinc-200">{category.name}</a>
                                    </li>
                                )
                            })
                        }
                    </ul>
                </li>
                <li><a href="/" title="Contacto">Contacto</a></li>
                <li><a href="/" title="Servicios">Servicios</a></li>
            </ul>
        </div>
        <div class="flex items-center w-[350px] space-x-5 mdl:hidden justify-end">
            <div class="flex items-center mr-5">
                <span id="themeMessage" class="dark:text-slate-50 font-bold mr-2 text-slate-600">Light</span>
                <BtnChangeTheme client:only="preact" />
            </div>
            <SearchInput client:only="preact" />
            <div class="dropdown dropdown-end">
                <label tabindex="0" class="btn-circle avatar">
                    <button title="Perfil" class="w-7 rounded-full">
                        <User />
                    </button>
                </label>
                <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52 dark:bg-[#161616] dark:text-zinc-200">
                    <li>
                    <a class="justify-between dark:hover:bg-zinc-800 dark:hover:text-zinc-200">
                        Profile
                        <span class="badge">New</span>
                    </a>
                    </li>
                    <li><a class="dark:hover:bg-zinc-800 dark:hover:text-zinc-200">Settings</a></li>
                    <li><a class="dark:hover:bg-zinc-800 dark:hover:text-zinc-200">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>