<header>
    <nav>
        <a href="/" title="Inicio" class="inline-block">
            <img src="/logo/afterflow.png" width="25" height="25" alt="Logo de Afterflow">
        </a>
    </nav>
</header>