---
// import Search from "./jsx/Search.astro";
import Chevron from "../components/icons/Chevron-down.astro";
import BtnChangeTheme from "../components/jsx/ButtonChangeTheme";
import {ButtonShowSideBar} from "./jsx/ButtonsSidePanel";
import { getCollection } from "astro:content";

const allTags = await getCollection('tags');

---
<header class="sticky top-0 z-50">
    <nav class="flex items-center px-4 py-3 bg-white dark:bg-[#141414] justify-between">
        <div class="flex items-center space-x-8">
            <a href="/" title="Inicio" class="inline-block" aria-label="Página de inicio">
                <img src="/logo/afterflow.png" width="60" height="60" alt="Logo de Afterflow">
            </a>
            <ul class="flex items-center space-x-5 text-zinc-600 text-sm dark:text-zinc-200 mdl:hidden">
                <li class="dropdown">
                    <button tabindex="0" title="Categorías" class="cursor-pointer flex items-center">Categorías
                        <Chevron />
                    </button>
                    <ul tabindex="0" class="dropdown-content menu p-3 bg-white shadow rounded-box w-52 mt-2 dark:bg-[#161616] dark:text-zinc-200">
                        {
                            allTags.map(tag => {
                                return <li><a href={"/categoria/" + tag.data.slug} title={tag.data.name} aria-label={"Categoría " + tag.data.name} class={"block dark:hover:bg-zinc-800 dark:hover:text-zinc-200 p-2 rounded-lg hover:bg-zinc-100"}>{tag.data.name}</a></li>
                            })
                        }
                    </ul>
                </li>
                <li><a href="https://wa.me/986541799" title="Contacto" aria-label="Contacto por WhastsApp">Contacto</a></li>
            </ul>
        </div>
        <div class="flex items-center w-[350px] gap-x-5 justify-end">
            <!-- <Search parent="navbar" inputId="searchInput" listContent="coincidences" /> -->
            <BtnChangeTheme client:only="preact" />
            <ButtonShowSideBar client:only="preact" />
        </div>
    </nav>
</header>