---
// import SearchInput from "../components/jsx/SearchInput";
import { BlockDiv} from "../components/jsx/ButtonsSidePanel"
import { getCollection } from "astro:content";

const allTags = await getCollection('tags');
const parent = 'sideBar';
---
<BlockDiv client:load />

<aside class="sideBar md:visible invisible" id="sideBar">
    <ul class="flex items-center justify-between">
        <li><a href="/" title="Inicio"><img src="/logo/afterflow.png" alt="Logo de Minder" class="w-10"></a></li>
    </ul>
    <div class="h-full w-full px-3 py-4 ">
        <ul class="space-y-10">
            <!-- <li>
                <SearchInput parent={"sideBar"} postIdName={"postsSideBar"} inputId={"searchInputSideBar"} client:only="preact" />
            </li> -->
            <li>
                <h3 class={"text-lg font-medium"}>Categorías</h3>
                <ul class="text-gray-700" class:list={[parent === 'sideBar' ? "pl-6 mt-3" : '']}>
                    {
                        allTags.map(tag => {
                            return <li><a href={"/categoria/" + tag.data.slug} title={tag.data.name} aria-label={"Categoría " + tag.data.name} class={"block dark:hover:bg-zinc-800 dark:hover:text-zinc-200 p-2 rounded-lg hover:bg-zinc-100"}>{tag.data.name}</a></li>
                        })
                    }
                </ul>
            </li>
            <li>
                <a href="https://wa.me/986541799" class="text-lg font-medium mt-5">Contacto</a>
            </li>
        </ul>
     </div>
</aside>
<style>
    #sideBar {
        position: fixed;
        width: 20rem;
        height: 100%;
        background-color: rgb(250, 250, 250);
        top: 0;
        right: -20rem;
        transition: right 0.3s ease-in-out;
        z-index: 200;
        padding: 1.3rem;
    }
    html[class="dark"] #sideBar {
        background-color: #141414;
    }
    html[class="dark"] * {
        color: rgb(228 228 231);
    }
    @media (max-width: 580px) {
        #sideBar {
            width: 16rem;
        }
    }
</style>