---
import SearchInput from "../components/jsx/SearchInput";
import {ButtonShowMenuCategories} from "../components/jsx/ButtonsSidePanel"
---
<div id="bloqueo" class="w-full h-full fixed top-0 z-[100] md:visible invisible bg-black/30 hidden"></div>
<aside class="sideBar md:visible invisible" id="sideBar">
    <ul class="flex items-center justify-between">
        <li><a href="/" title="Inicio"><img src="/logo/afterflow.png" alt="Logo de Minder" class="w-10"></a></li>
    </ul>
    <div class="h-full w-full px-3 py-4 ">
        <ul class="space-y-10">
            <li>
                <SearchInput parent={"sideBar"} />
            </li>
            <li>
                <h3 class={"text-lg font-medium"}>Categorías</h3>
                <ButtonShowMenuCategories parent={"sideBar"} client:only="react" />
            </li>
            <li>
                <a href="https://wa.me/986541799" class="text-lg font-medium mt-5">Contacto</a>
            </li>
        </ul>
     </div>
</aside>
<style>
    #sideBar {
        position: fixed;
        width: 20rem;
        height: 100%;
        background-color: rgb(250, 250, 250);
        top: 0;
        right: -20rem;
        transition: right 0.3s ease-in-out;
        z-index: 200;
        padding: 1.3rem;
    }
    html[class="dark"] #sideBar {
        background-color: #141414;
    }
    html[class="dark"] * {
        color: rgb(228 228 231);
    }
</style>
<script is:inline>
   let bloqueo = document.getElementById("bloqueo");
    bloqueo.addEventListener("click", (e) => {
        bloqueo.classList.replace("block", "hidden");
        sideBar.style.right = "-20rem";
        e.preventDefault();
    })
</script>