---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import SideBar from '../components/SideBar.astro';
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" id="html">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/icons/afterflow.ico" type="image/x-icon">
		<meta name="description" content="Blog de tutoriales de programación. En este espacio, comparto con ustedes mis conocimientos y experiencias sobre diversos temas relacionados con el mundo digital, como programación, diseño web, seguridad informática, inteligencia artificial y más.">
		<meta name="keywords" content="Astro.js, Django, Python, Programación, Tutoriales, Blog personal">
		<meta name="author" content="Daniel Villasanti">
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="dark:bg-[#121212]">
		<SideBar />
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>